* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#body-container {
  background-color: hsla(0, 3%, 87%, 0.623);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#flex-container {
  max-width: 1060px;
  /* min-width: 720px; */
  /* height: 60%; */
  /* margin: 50px auto; */
  display: flex;
  align-items: center;
  font-family: sans-serif;
  margin: 0 30px;
}
#flex-1,
#flex-2,
#flex-3 {
  background-color: hsl(31, 77%, 52%);
  width: 33.33%;
  color: white;
  height: 450px;
  padding: 0px 2em;
  box-sizing: border-box;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
}
#flex-2 {
  background-color: hsl(184, 100%, 22%);
}
#flex-1 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

}
#flex-3 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#flex-1 h1,
#flex-1 #logo,
#flex-1 p,
#flex-1 h4 {
  margin: 20px 0;
}

#flex-2 h1,
#flex-2 #logo,
#flex-2 p,
#flex-2 h4 {
  margin: 20px 0;
}
#flex-3 h1,
#flex-3 #logo,
#flex-3 p,
#flex-3 h4 {
  margin: 20px 0;
}
#logo {
  width: 50px;
  padding-top: 22px;
}
p {
  font-family: Lexend Deca;
  font-weight: 400;
  font-size: 1em;

}
h1{
  font-family: Big Shoulders Display;
  font-weight: 700;
}
#learn-more {
  color: hsl(0, 0%, 100%);
  padding: 6px 10px;
  text-align: center;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 30px;
}
#learn-more:hover {
  background-color: rgb(255, 255, 255);
  color: hsl(31, 77%, 52%);
  border-radius: 30px;
  transition: 1s;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  #body-container {
    font-size: 0.3em;
  }
  #flex-container {
    /* width: 60%; */
    /* height: 60%; */
    background-color: indianred;
    /* margin: 50px auto; */
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-family: sans-serif;
    margin: 0 20px;
  }
  #flex-1,
  #flex-2,
  #flex-3 {
    background-color: hsl(31, 77%, 52%);
    width: 33.33%;
    color: white;
    height: auto;
    padding: 0px 10px;
    box-sizing: border-box;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
  }
  #flex-2 {
    background-color: hsl(184, 100%, 22%);
  }
  #flex-3 {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  #logo{
    width: 40px;
    padding-top: 10px;
    margin: 0px;

  }
  #flex-1 h1,
#flex-1 #logo,
#flex-1 p,
#flex-1 h4 {
  margin: 10px 0;
}

#flex-2 h1,
#flex-2 #logo,
#flex-2 p,
#flex-2 h4 {
  margin: 10px 0;
}
#flex-3 h1,
#flex-3 #logo,
#flex-3 p,
#flex-3 h4 {
  margin: 10px 0;
}

  p{
    font-size: 1em;
  }
  h1{
    font-size: 3em;
    font-family: Big Shoulders Display;
    font-weight: 700;
  
  }
  
}
